@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/paper-css/paper.css';

/* overrides */
body.letter .sheet {
  height: 100%;
}

@page {
  height: 0;
  page-break-before: always;
  margin: 0;
  border-top: none;
}
