@tailwind components;
@layer components {
  @-webkit-keyframes flip-vertical-ltr {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    50% {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
  }
  @keyframes flip-vertical-ltr {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    50% {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
    100% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
  }

  .flip-vertical-ltr {
    -webkit-animation: flip-vertical-ltr 3s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
    animation: flip-vertical-ltr 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      infinite both;
  }

  .content {
    @apply mx-auto w-full max-w-7xl p-8 py-8;
  }

  /* --- Sections --- */
  section .section-title {
    @apply mb-4 flex flex-col justify-center text-center;
  }

  section .section-title > h2 {
  }

  section .section-title > p {
    @apply text-overline;
  }

  section .section-title.start {
    @apply md:justify-start md:text-start;
  }

  section .section-title.end {
    @apply md:justify-end md:text-end;
  }
}
